.schadule-table {
    border-collapse: collapse;
}
/* .schadule-table, th, td {
    border: 1px solid black;
} */
/* .bio-table, th, td {
    border: 1px solid black;
} */
.schadule-table td {
    padding: 10px;
    border: 1px solid black
}
.schadule-table th {
    background-color: #0414ff;
    color: white;
    border: 1px solid black;
    padding: 10px;
}

.bio-table td {
    padding: 10px;
    border: 0px solid black
}
.bio-table th {
    background-color: #0414ff;
    color: white;
    border: 0px solid black;
    padding: 10px;
}

