/* Contoh CSS Selecter Tag */
p{
    color: blue;
}

/* Contoh CSS Selecter Class */
.pink{
    color: white;
    background-color: pink;
    padding: 5px;
}

/* Contoh CSS Selecter ID */
#header{
    background: teal;
    color: white;
    height: 100px;
    padding: 50px;
}

/* Contoh CSS Selecter Attribute */
input[type=text] {
    background: cyan;
    color: rgb(10, 10, 10);
    padding: 10px;
    border: 1px;
}